@charset "utf-8";
/* CSS Document */
#showguitar .guitarsort{
	margin:20px auto;
	clear:both;
	width:1050px;height:300px;
	border-bottom:1px solid black}
#showguitar .guitarsort>p{
	line-height:40px;
	font-size:22px;
	padding-left:10px;
	color:#F33;
	font-weight:600}
#showguitar .detail{
	float:left;
	width:250px;height:250px;
	text-align:center;
	margin-left:10px;
	margin-bottom:5px;}
#showguitar .detail>p{
	line-height:22px;
	font-size:18px;
	font-weight:500;
	cursor:pointer}
#showguitar img{
	transition:all 0.3s;
	width:200px;
	height:200px}
#showguitar img:hover{
	transform:scale(1.3);
	box-shadow:0 0 10px #66FFFF;
	cursor:pointer}